{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %} New Departement!{% endblock %}

{% block body %}
<div class="container w-50 bg-light p-3" style="margin-top:130px;">
    <div class="row justify-content-center"><h1>New BULDING<i class="fa fa-bed" aria-hidden="true"</i></h1></div>
        {{form_start(form)}}

            {{ form_row(form.nom_Batiment, {'attr': {'placeholder': "nom"}}) }}
            <span id="span-batiment">*</span>
            <button id="submit" type="submit" class="btn btn-primary" style="width:100%;">Enregistrer</button>

        {{form_end(form)}}
</div>
<script>
$('#submit').click(function(e){
    if ($('#batiment_nom_Batiment').val()=="")
    {
        e.preventDefault();
        $('#span-batiment').html("Champ Obligatoire");
    }
    else
    {
        $('#span-type').html("");
    }

   
})
</script>

{% endblock %}
